.navbar {
    margin: 0;
    padding: 0;
}

:root{
    --maincolor: #e6b9e7;
    --secondcolor: #9c52a3;
    --pcolor:#511663;
    --p2color:#3a1d42;
    --p3color: #190f1b;
    --backgroundcolor: #fbcbff;
    --hoovercolor: #ffffff;
    --green: #59b659;
    --green2: #b1eca9;
    --white: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: var(--pcolor);
}
h3 .text-center{
    color: var(--pcolor);
}
p {
    color: var(--p3color) !important;
}
ul,li{
    color: var(--p3color);
}
img{
    max-width: 100%; 
}
header{
    z-index: 99;
    position: fixed;
    width: 100%;
    .container-fluid{
        background: var(--maincolor) !important;
        
    }
    .navbar{
        padding: 0;
        margin-bottom: 1%;
    }
    .listas{
        text-align: right;
    }
    .nav-item{
        margin-left: 30px;
        a{
            color: var(--secondcolor) !important;

            &:hover{
                color: var(--hoovercolor) !important;
                font-size: 18px;
            }
    }
    }
    .navbar-brand{
        margin-left: 30px;

        img{
            width: 50px;
            height: 50px;
        }
    }
}
.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.importante{
    color: var(--pcolor);
    background-color: var(--secondcolor);
}
.text-center .botao{

    color: var(--pcolor) !important;
    background-color: var(--maincolor) !important;
    border-radius: 10px;
    padding: 5px 10px;
    border: solid 1px var(--secondcolor);
    &hoover{
        color: var(--hoovercolor);
    }

}
.localizacao{
    padding-top: 60px;
    padding-bottom: 60px;
}
.formulario{
    padding-top: 60px;
    padding-bottom: 60px;
}

.clareamento img{
    
        border: solid 1px var(--hoovercolor); 
        box-shadow: 0px 0px 10px var(--secondcolor);
        margin: 0px;
        padding: 1px;
}
.erro-main{
    width: 100%;
    padding-bottom: 180px;
}
.erro{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 50px;
    .imagem{
        margin: auto;
    }
}
.carousel-indicators [data-bs-target]{
    margin-bottom: 10px;
}
.carousel {
    position: relative;
    a{
        font-size: 0;
        &hover{
            font-size: 0;
        }
    }
  }
  
  .carousel-indicators {
    bottom: 10px; /* ou ajuste conforme necessário */
    z-index: 2;
  }
  
.container{
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    .contatos{
            text-align: center;
            background-color: var(--secondcolor);
            border-radius: 100px;
            box-shadow: var(--secondcolor) 0px 0px 0x;
            display: flex;
            padding: auto;
            p{
                color: var(--white);
                width: 100%;
                margin: auto;
            }
    }
    h1{
        color: var(--pcolor);
    }
    h3{
        color: var(--pcolor);
    }
    p{
        color: var(--pcolor);
    }
    a{
        font-size: 25px;
        margin: 5px;
        padding: 1px;
        
       
        color: var(--maincolor);
        text-decoration: none;

        &:hover{
            color: var(--hoovercolor) !important;
            
        }
    .contatos{
        max-width: 30%;
    }
    }
    
    img{
        width: 80%;
        border-radius: 10px;
    }
}
.whats{
    font-size: 70px;
    z-index: 99; 
    position: fixed;
    right: 20px;
    bottom: 10px;
    a{
        background-color: var(--green);
        color: var(--white);
        text-align: right;
        border-radius: 400px;
        margin-left: 10px;
        padding: 8px;
        padding-right: 10px;
        padding-left: 10px;
        display: flex; /* Para centralizar o ícone dentro do círculo */
        align-items: center;
        justify-content: center;
        width: 70px; /* Ajustar conforme o font-size para fazer um círculo */
        height: 70px;
        text-decoration: none;
        
    }
    
}
.sobre {
    /*padding-top: 40px; */
    padding-bottom: 50px;
   /* background-color: var(--backgroundcolor); */
   /* margin-top: 70px;*/
    color: var(--p2color) !important;
    img{
        margin: 5px;
        width: 35%;
    }
    a{
        text-align: center;
        border-radius: 400px;
        margin-left: 10px;
        padding: 8px;
        padding-right: 10px;
        padding-left: 10px;
        display: flex; /* Para centralizar o ícone dentro do círculo */
        align-items: center;
        justify-content: center;
        width: 70px; /* Ajustar conforme o font-size para fazer um círculo */
        height: 70px;
        text-decoration: none;
    }
    /*.sobre-consulta {
        background-color: var(--secondcolor);
        color: var(--white);
        border-radius: 100px;
        padding: 10px;
        max-width: 35%;
        margin: auto;
    }*/
    
}
.clareamento{
    img{
        width: 15%;
    }
    .flex {
        display: flex;
        flex-wrap: wrap; /* Permite que as imagens se ajustem em telas menores */
        justify-content: center; /* Centraliza as imagens */
        gap: 15px; /* Espaçamento entre imagens */
        
    }
    .flex-coluna img {
        width: 200px; /* Ajuste conforme necessário */
        height: auto; /* Mantém a proporção correta */
        border-radius: 10px; /* Bordas arredondadas para um design mais suave */
        
    }
        
}


.endereco{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    h3{
        margin-bottom: 25px;
    }
    .maps{
        box-shadow: 0px 0px 10px var(--secondcolor);
    }
    button{
        color: var(--pcolor) !important;
        background-color: var(--maincolor) !important;
        border-radius: 10px;
        padding: 5px 10px;
        border: solid 1px var(--secondcolor);
    }
}

footer{
    background-color: var(--maincolor) !important;
    text-align: center;
    padding-bottom: 10px;
    .redes-sociais{
        text-decoration: none;
        font-size: 30px
    }
    .desenvolvedor{
        p{
            font-size: 13px;
            margin-bottom: 0;
        }
        a{
            text-decoration: underline;
        }
    }
    p{
        color: var(--secondcolor) !important;
    }
    a{
        text-decoration: none;
        padding-top: 0;
        margin-top: 0;
        ;
        color: var(--secondcolor) !important;
        &:hover{
            color: var(--hoovercolor) !important;
        }
    }
}

@media (max-width: 950px){
    .whats{
        font-size: 70px;
        text-align: center;
        bottom: 130px;
        margin-right: 16px;
    }
    main{
        width: 100%;
    }
    .container{
        .contatos{
            font-size: 20px;
        }
        img{
            max-width: 100%;
            width: 100%;
        }

    }
    .endereco{
        width: 100%;
    }
    .maps{
        width: 100%;
    }
}
/*.sobre-texto{
    padding: 17px;
    padding-left: 0px;
    padding-right: 0px;
}*/

.flex {
        flex-direction: column; /* Coloca as imagens em coluna em telas menores */
        align-items: center; /* Centraliza os itens */
    }


@media (min-width: 400px){
    header{
        .navbar-brand{
            margin-left: 10px;
        }
    }
    .whats{
        font-size: 50px;
        margin-right: 16px;
    }
   
    .sobre-texto{
        padding: 17px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .endereco{
        width: 100%;
    }
    .maps{
        width: 100%;
    }
}